%html
  %head
    %title Flight Reminder
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    :javascript
      $(document).ready( function() {
        $('#datepicker').datepicker()
        $('#timepicker').timepicker();
      });

  %body
    - if flash[:notice]
      %p{class: 'alert alert-success'}= flash[:notice]
    - if flash[:error]
      %p{class: 'alert alert-error'}= flash[:error]

    = yield
